/*============ Google fonts ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= CSS variables =======*/
:root{
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar{
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--scroll-thumb-hover-color);
}

/*======= Main CSS =======*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--body-bg-color);
  background-color: gray;
}

section{
  position: relative;
}

.section{
  color: var(--white-color);
  background: var(--section-bg-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}

/*======= Header =======*/
header{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}

header.sticky{
  height: calc(2.5rem + 1rem);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.3s ease;
}

.nav-close-btn, .nav-menu-btn{
  display: none;
}

.nav-bar .logo{
  color: var(--white-color);
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a i{
  display: none;
}

.navigation .nav-items a:not(:last-child){
  margin-right: 45px;
}
#logo{
  line-height: 60px;
  margin-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #3498db;
}
#logo:hover{
  color: #ecf0f1;
}
#logo-s{
  color: #ecf0f1;
  margin-left: 5px;
}
#logo:hover #logo-s{
  color: crimson;
}
.sign{
  float: right;
  line-height: 60px;
  margin-right: 40px;
  font-size: 2rem;
}
.sign a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.act{
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 6px 15px;
}
.sign a:hover{
  color: #3498db;
  border-color: #3498db;
}

/* ===== Hero and Header Media Query ======== */
@media screen and (max-width: 1100px){
  header .nav-bar{
    padding: 0 50px;
  }

  .media-icons{
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content{
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs{
    bottom: 2.4em;
  }
}

@media screen and (max-width: 785px){
  header .nav-bar{
    padding: 25px 20px;
  }

  .media-icons{
    margin-right: 20px;
  }

  .media-icons a{
    font-size: 1.5em;
  }

  .swiper-slide .text-content{
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title{
    font-size: 3em;
  }

  .swiper-slide .text-content .title span{
    font-size: 0.35em;
  }
  
  .swiper-slide .text-content p{
    font-size: 0.9em;
  }

  /* Navigation menu */
  .nav-menu-btn{
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn{
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navigation{
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active{
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items{
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items{
    transform: translateY(0);
  }

  .navigation .nav-items a{
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navigation .nav-items a:hover{
    color: var(--navigation-item-hover-color);
  }

  .navigation .nav-items a i{
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .swiper-slide .text-content .read-btn{
    font-size: 0.9em;
    padding: 5px 15px;
  }
}
/* End header and hero section media query */

/* Candidate banner section */
.candidate-banner{
  width: 90%;
  max-width: 1400px;
  margin: 10px auto;
  min-height: 520px;
  padding: 60px 40px 40px 40px;
  position: relative;
}

.candidate-banner::after{
  content: '';
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  background: linear-gradient(0deg, rgba(8,8,8) 0%, rgba(0,0,0,0.2) 100%);

}

.m-banner-img{
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.m-banner-img::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 00px;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  background: linear-gradient(-90deg, rgba(37,37,37,0.2) 0%, rgba(15,15,15,0.3) 100%);
}

.m-banner-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

.banner-container{
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  top: 60px;
  position: relative;
}

.title-container{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.candidate-title h1{
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: 1px;
}

#title-logo{
  line-height: 60px;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #3498db;
}

#title-logo:hover{
  color: #ecf0f1;
}

#title-logo-s{
  color: #ecf0f1;
  margin-left: 5px;
}
#title-logo:hover #title-logo-s{
  color: crimson;
}

.candidate-details{
  max-width: 1000px;
  width: 100%;
  margin: 50px auto 20px auto;
  padding: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.candidate-details strong{
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.candidate-details p{
  color: #ecf0f1;
  margin: 10px 0px;
}
/* Candidate section media query */
@media screen and (max-width: 750px){
  .banner-container{
    grid-template-columns: 1fr;
  }
  #title-logo{
    font-size: 25px;
  }
  .candidate-title h1{
    font-size: 1.5rem;
    line-height: 35px;
  }
}

@media screen and (max-width: 600px){
  .candidate-banner{
    padding: 20px;
  }
  #title-logo{
    font-size: 20px;
  }
  .candidate-title h1{
    font-size: 1.3rem;
    line-height: 30px;
  }
  .title-container{
    justify-content: flex-start;
  }
}
/* End candidate section media query */

/* End candidate banner section */

.candidate-platforms{
  color: white;
  text-align: center;
}

.candidate-platforms strong{
  font-size: 2rem;
  font-weight: 400;
}

.candidate-platforms .platform-list li{
  display: flex;
  justify-content: center;
  line-height: 32px;
}

#guide{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: gray;
  font-family: 'Poppins', sans-serif;
}

.container-question{
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box{
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}

.box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBx img{
  opacity: 0;
}

.box .content{
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;

}

.box:hover .content{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box .content h3{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.box .content p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.box:hover .content p{
  opacity: 1;
  transition-delay: 0.4s;
}






